body{
    background-color: #17384d;
}
.item .bootstrap-select{
    width: 100%!important;
    margin: 10px 0;
}
.form-group select.form-control{
    height: 40px;
}
form  .adv_submit,form .Seller_submit{
    margin: 5px auto;
    display: block;
}
.search-label{
    color: #f7d809;
    font-weight: bold;
}
.brand .search-label{
    display: block;
}

.brand .brand-content >div{
    width: 78px;
    max-height: 50px;
    border: 1px solid #09a0f7;
    padding: 10px;
    min-height: 50px;
    cursor: pointer;
}
.brand .brand-content >div img{
    max-height: 30px;
    width: 100%;
}
.search-section{
    z-index: 20;
}
.section-tab{
    position: relative;
}
.refine-search .range-slider input {
    background-color: #778790;
    width: 65px;
    border: none;
    border-radius: 0;
}
.search-section button{
    line-height: 30px;
    font-size: 14px;
}
.tab-content .models img{

}
/* began price range style */
.range-slider {
    margin: auto;
    text-align: center;
    position: relative;
}
.range-slider .search-price input{
    width: 100%;
}
.range-slider .search-range input{
    pointer-events:none;
}
.range-slider .search-price{
    position: initial;
}
.range-slider .header{
    display: inline-block;
}
.range-slider svg,
.range-slider input[type="range"] {
    position: absolute;
    left: 0;
    bottom: 0;
}
input[type="number"] {
    border: 1px solid #5c6e79;
    text-align: center;
    font-size: 1em;
    padding: 4px;
    -moz-appearance: textfield;
    margin: 5px 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]:invalid,
input[type="number"]:out-of-range {
    border: 2px solid #ff6347;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #5c6e79;
}
input[type="range"]:focus::-ms-fill-lower {
    background: #5c6e79;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #5c6e79;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #5c6e79;
    box-shadow: none;
    border: 0;
}
input[type="range"]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    height: 14px;
    width: 14px;
    border-radius: 25px;
    background: #f7d809;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #e6e6e6;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #5c6e79;
    width: 14px;
    height: 14px;
    border-radius: 25px;
    background: #5c6e79;
    cursor: pointer;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: #5c6e79;
    box-shadow: none;
    border: 0;
}
input[type="range"]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #5c6e79;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}

  /* end price range style */
