.car-details #car-details-slider img , .One_image img{
    min-height: 360px;
    min-width: 100%;
    max-height: 360px;
    margin-top: 34px;
    margin-bottom: 55px;
}
.featured-cars .details .fuel , .featured-cars .details .type{

    width: 50%;
}
.featured-cars .item img{
    min-height: 200px;
    width: 100%;
    max-height: 200px;
    border: 1px solid #ccc;
}
.featured-cars .content{
    padding: 15px;
}
.rate {
    height: 46px;
}
.rate:not(:checked) > input {
    display: contents;
}
.rate:not(:checked) > label {
    height: 33px;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Phone */
@media (max-width: 640px) {
    #Part-Page {
        margin-top: 30px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    #Part-Page {
        margin-top: 30px;
    }
}
.car-details .main-car-details .item .option-content a{
    color: #09a0f7;
}

