
.seller-bg {
    position: relative;
}
.seller-bg .bg{
    margin-top: 82px;

}
.seller-bg .bg,
.seller-bg .bg img{
    max-height: 300px;
    min-height: 300px;
    width: 100%;
}
.seller-avatar img.img-thumbnail{
    border: none;
}
.seller-avatar{
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 0);
}
.left-bar{
    max-height: 100%;
    box-shadow: 0px 0 3px 0 #888888;
    border-radius: 10px 10px 0 0;
}
@media all and (max-width: 768px) {
    .container{
        margin: 0 auto;
        padding: 0;
    }
    .featured-cars .col-xs-12{
        padding: 0;
    }
}




