hr{
    margin: 10px 0;
}
.seller .all-sellers .bg img{
    max-height:130px;
}
.seller .seller-avatar img{
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.seller .all-sellers .info{
    margin-top: 70px;
}
.seller .all-sellers .info p{
    font-size: 1.2rem;
}
.seller .seller-rating{
    position: absolute;
    top: 10px;
}
.seller .all-brands{
    height: 150px;
}
.seller .all-brands .brands img{
    max-height: 3rem;
    min-height: 3rem;
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
}
.seller .all-brands .brands{
    margin: 10px 0px;
}
.tab-content .selected-brand{
    border: 2px solid rgb(255, 255, 255) !important;
    background-color: rgb(255, 255, 255);
}
