.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12{
    float: right;
}
/* Navbar */
.navigation .logo{
    float: right;
}
.main-nav {
	font-size: 0;
    margin-left: 30%;
    margin-right: auto;
}
.main-nav ul>li.relative{
    float: left;
}
.main-nav ul>li ul{
    left: 0;
    right: auto;
}
/* Index Page */

.tabpanel.section-tab .nav-tabs{
    left: auto;
}
.page-title .title{
    left: 0;
}
.page-title .title:after{
    border-color: #0074e1 transparent transparent transparent;
    left: -20px;
    right: auto;
}
.sort .bootstrap-select.btn-group .btn .filter-option,
.sort .bootstrap-select.btn-group .dropdown-menu li{
    text-align: right;
    padding-right: 8px;
}
.owl-carousel.owl-loaded {
    direction: ltr;
}
/* Part Page */
.car-details .main-car-details .item .option-content,.car-details .main-car-details .item .option{
    float: right;
}
.car-details .main-car-details .item .option:after{
    float: unset;
}
.nav-tabs>li{
    float: right;
}
.car-details .title{
    float: right;
}
.car-details .rating span,.car-details .rating{
    float: left;
}
.featured-cars .details i{
    float: right;
    line-height: 44px;
    padding: 0px 2px;
    float: right;
}
.featured-cars .details .fuel, .featured-cars .details .type{
    float: right;
}
.featured-cars .details .fuel{
    border-left: 1px solid #dde2e5;
    border-right: 0px;
}
#car-details-slider{
    direction: ltr;
}
#Review-avatar{
    right: 0;
    margin-left: 10px;
}
@media all and (max-width: 1000px) {
    #nav-lang .navi-item img {
        left: 0px;
        right: auto;
        position: absolute;
    }
    .responsive-nav ul.list-unstyled>li ul{
        padding-right: 30px;
    }
    .responsive-menu-open {
		display: inline-block;
        float: left;
        padding-left: 25px;
	}
}
/* Footer */
.footer .iconbox-left .icon{
    float: right;
}
/* LOGO */
#user-logo{
    margin-right: 30px;
}

/* Part page */
.rating{
    direction: ltr;
}
.rating-holder{
    float: right;
}
.rate  {
    direction: ltr;
}

